streamlit==1.33.0
langchain==0.1.13
langchain-community==0.0.29  # Corrected typo from langchain-communit
langchain-core==0.1.52
langchain-huggingface==0.0.2
langchain-mistralai==0.2.0  # Upgraded to resolve tokenizers conflict
faiss-cpu==1.7.4
sentence-transformers==2.6.1
huggingface-hub==0.23.1
PyMuPDF==1.23.17
numpy==1.26.4
protobuf==4.25.3
pyttsx3==2.98
speech_recognition==3.10.4  # Corrected from speech-recognition
--upgrade pip
