streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-mistralai
faiss-cpu
transformers
sentence-transformers
huggingface-hub
PyMuPDF
pdfplumber
pypdf
numpy
pandas
tqdm
requests
toolz
protobuf
SpeechRecognition
pyttsx3
pyaudio
